@use '../../styles/variables' as *;

.group {
  :global(.MuiToggleButton-root) {
    padding: 6px 12px;
    color: $color-text-secondary;
    border-color: $color-border;

    &:global(.Mui-selected) {
      color: $color-primary-strong;
      background-color: $color-primary-muted;
    }
  }
}
