@use './variables' as *;

.section-padding {
  padding: $spacing-section;
}

.page-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-section;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}