@use './variables' as *;
@use './mixins' as *;
@use './common';

* { box-sizing: border-box; }
html, body, #root { height: 100%; margin: 0; font-family: $font-family-base; }
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: $color-background; }
::-webkit-scrollbar-thumb { background: $color-border; border-radius: 4px; }